<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Server Maintenance</h1>

    <p>The server is currently in remodeling. So sorry.</p>

  </body>
</html>
